# Three Observable Trends from the Analysis

## 1.) 
While the majority of players are male (84.03%), and they did account for the majority of the total purchase value ($1,967.64), the average purchase price and average total purchases per person did not have much difference by gender. Males in fact are the lowest in both categories. This leads to the assumption that a players gender does not have a large effect on their liklihood to make purchases within the game.

## 2.) 
The under 10 age group makes close to the fewest amount of purchases, however, when they do buy they likly target more expensive items. This can be seen as their age group has the second highest average purchase price and second highest average total purchase per person.

## 3.) 
Not only are the items named, Oathbreaker (Last Hope of the Breaking Storm) and Fiery Glass Crusader some of the most profitable items in the game, they are also very popular with players as they have are some of the most commonly purchased.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Import pandas to use the library
import pandas as pd

In [2]:
# Set the path for the file to Load 
file = "Resources/purchase_data.csv"

# Read the purchase_data.csv file and store it into Pandas data frame
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# To find the number of players, look at the 'SN' column and find all of the unique values for this column
# The SN column is the name of the player so a .nunique() function will return the total number of players
num_players = purchase_data_df["SN"].nunique()
num_players

576

In [4]:
# Create a data frame to display the total number of players
num_players_df = pd.DataFrame({"Total Players":[num_players]})
num_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Number of unique items is the number of unique ID's in the "Item ID" column
num_items_unique = purchase_data_df["Item ID"].nunique()
num_items_unique

# Total Number of Purchases is equal to the amount of rows in the purchase_data.csv file, the len()
num_purchases = len(purchase_data_df)
num_purchases

# Total Revenue is the sum of all of the purchases in the "Price" column
revenue = purchase_data_df["Price"].sum()
revenue

# Average Purchase Price is the mean of the Price column
avg_purchase_price =  purchase_data_df["Price"].mean()
avg_purchase_price

3.050987179487176

In [6]:
# This is the summary data frame that will hold the Purchasing Analysis
purchases_summary_table = pd.DataFrame({"Number of Unique Items": [num_items_unique],
                                        "Average Price": [avg_purchase_price],
                                        "Number of Purchases": [num_purchases],
                                        "Total Revenue": [revenue]
                                       })
# Cleaning up the formatting for the Purchasing Analysis summary table

# Add in proper notation
purchases_summary_table = purchases_summary_table.style.format({ "Average Price":"${:,.2f}",
                                                                 "Total Revenue": "${:,.2f}"
                                                               })
purchases_summary_table

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# Create a gender group that holds all of the genders by using a groupby
gender_groups = purchase_data_df.groupby("Gender")
gender_groups

In [8]:
# Using the gender group we can see how many of the unique player ID's fall into each gender option
genders_unique = gender_groups["SN"].nunique()
genders_unique

# Calculate the percentages for each group by dividing by the number of total players
# I am multiplying by 100 so that the end result will match the notation of the homework example provided
gender_pct = (genders_unique / num_players) * 100
gender_pct

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [9]:
# Create summary table to display the gender information
genders_table = pd.DataFrame({  "Total Count": genders_unique,
                                "Percentage of Players": gender_pct
                            })

# Format the table so that there the gender groups will be in the index
genders_table.index.name = None

# Cleaning up the formatting for the Gender Demographics summary table
# Sort so that the total count is in descending order - matching the homework example
genders_table = genders_table.sort_values(["Total Count"], ascending = False)
# Add in proper notation
genders_table = genders_table.style.format({"Percentage of Players":"{:.2f}%"})
genders_table


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Use the gender_groups to find values for each gender
# Purchase ID column will show unique ID's for each purchase made, we can look at the total count by gender
gender_purchase_count = gender_groups["Purchase ID"].count()
gender_purchase_count

# The mean of the "Price" column will show the average price per gender group
gender_purchase_price_avg = gender_groups["Price"].mean()
gender_purchase_price_avg

# We will also need the total amount (sum) of price
gender_price_total = gender_groups["Price"].sum()
gender_price_total

#With the price total and the unique players per gender (genders_unique) we can find the avg purchase total per person by gender
gender_player_purchase_avg = gender_price_total / genders_unique
gender_player_purchase_avg

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [11]:
# Create summary table to display the Purchasing Analysis by gender
genders_analysis_table = pd.DataFrame({ "Purchase Count": gender_purchase_count,
                                        "Average Purchase Price": gender_purchase_price_avg,
                                        "Total Purchase Value": gender_price_total,
                                        "Avg Total Purchase per Person": gender_player_purchase_avg
                                      })

# Format the table so that there the gender groups will be in the index
genders_analysis_table.index.name = None

# Cleaning up the formatting for the Purchasing Analysis by gender summary table
# Add in proper notation
genders_analysis_table = genders_analysis_table.style.format({  "Average Purchase Price": "${:,.2f}",
                                                                "Total Purchase Value": "${:,.2f}",
                                                                "Avg Total Purchase per Person": "${:,.2f}"
                                                             })

genders_analysis_table

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# Create the bins for ages
# Bin values are based on the values in the results table values of the homework example
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Add the created age groups to the data
# Use 'pd.cut' per homework suggestion
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels = age_groups)
purchase_data_df.head()

# Create groupby for ages
ages_grouped = purchase_data_df.groupby("Age Group")
ages_grouped

In [13]:
# Number of players in each new created age group
num_players_age = ages_grouped["SN"].nunique()
num_players_age

# Percentages for player count in each age group
# I am multiplying by 100 so that the end result will match the notation of the homework example provided
age_group_pct = (num_players_age / num_players) * 100
age_group_pct

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [14]:
# Create summary table to display the player make-up by age group
age_group_analysis_table = pd.DataFrame({   "Total Count": num_players_age,
                                            "Percentage of Players": age_group_pct
                                        })

# Format the table so that there the gender groups will be in the index
age_group_analysis_table.index.name = None

# Cleaning up the formatting for the Age Group analysis summary table
# Add in proper notation
age_group_analysis_table = age_group_analysis_table.style.format({"Percentage of Players":"{:.2f}%"})
age_group_analysis_table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
# Still working with the 'age' bin and groups from above
# Purchase count by age group
purchases_by_age = ages_grouped["Purchase ID"].count()
purchases_by_age

# Average purchase price again uses the .mean() function
age_price_avg = ages_grouped["Price"].mean()
age_price_avg

# We will also need the total amount (sum) of price
age_price_total = ages_grouped["Price"].sum()
age_price_total

# With the price total and the unique players per age group we can find the avg purchase total per person by age group
age_player_purchase_avg = age_price_total / num_players_age
age_player_purchase_avg

<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [16]:
# Create summary table to display the Purchasing Analysis by age group
age_purchase_analysis_table = pd.DataFrame({"Purchase Count": purchases_by_age,
                                            "Average Purchase Price": age_price_avg,
                                            "Total Purchase Value": age_price_total,
                                            "Avg Total Purchase per Person": age_player_purchase_avg
                                           })

# Format the table so that there the gender groups will be in the index
age_purchase_analysis_table.index.name = "Age Ranges"

# Cleaning up the formatting for the Purchasing Analysis by age group summary table
# Add in proper notation
age_purchase_analysis_table = age_purchase_analysis_table.style.format({"Average Purchase Price": "${:,.2f}",
                                                                        "Total Purchase Value": "${:,.2f}",
                                                                        "Avg Total Purchase per Person": "${:,.2f}"
                                                                       })

age_purchase_analysis_table

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
# To find information about individual players purchases, I can use groupby by the unique screen name column "SN"
player = purchase_data_df.groupby("SN")
player

In [21]:
# The homework first asks me to find the purchase count by player
# Because each screen name is unique, I can just see the count of purchase ID by the player group created above
player_purchases = player["Purchase ID"].count()
player_purchases

# To find the average purchase price per player I can use the .mean() function again
player_purchase_avg = player["Price"].mean()
player_purchase_avg

# To find the total purchase value I can look at the .sum() of the price each player paid
player_purchase_value = player["Price"].sum()
player_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [25]:
# Create summary table to display the purchasing analysis by age group
player_purchase_analysis_table = pd.DataFrame({ "Purchase Count": player_purchases,
                                                "Average Purchase Price": player_purchase_avg,
                                                "Total Purchase Value": player_purchase_value
                                              })

# Format the table so that there the gender groups will be in the index
player_purchase_analysis_table.index.name = "SN"

# The homework asks for this table to be sorted in a specific way
# Sort in descending order to obtain top 5 spender names 
sorted_player_purchase_analysis_table = player_purchase_analysis_table.sort_values(["Total Purchase Value"], ascending = False).head()


# Cleaning up the formatting for the Top Spenders summary table
# Add in proper notation
sorted_player_purchase_analysis_table = sorted_player_purchase_analysis_table.style.format({"Average Purchase Price": "${:,.2f}",
                                                                                            "Total Purchase Value": "${:,.2f}"
                                                                                           })

sorted_player_purchase_analysis_table

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
# Create a more focused data frame to analyze the item data
pymoli_items_df = purchase_data_df[{"Item ID", "Item Name", "Price"}]
pymoli_items_df.head()

                                   Item Name  Price  Item ID
0  Extraction, Quickblade Of Trembling Hands   3.53      108
1                          Frenzied Scimitar   1.56      143
2                               Final Critic   4.88       92
3                                Blindscythe   3.27      100
4                                       Fury   1.44      131

In [27]:
# Use groupby as requested by the homework instructions
item = pymoli_items_df.groupby(["Item ID", "Item Name"])
item

# Find the number of purchases for each item
item_purchase_count = item["Price"].count()
item_purchase_count

# Find the average item price
item_price_avg = item["Price"].mean()
item_price_avg

# Find the total value of the purchase for each item
item_purchase_value = item["Price"].sum()
item_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [28]:
# Because the below table is asked to display the original item price, I can store that as another variable
# I can find this and store it like the others above, item price will be the total items value divided by the count of that item
item_price = item_purchase_value / item_purchase_count
item_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [29]:
# Create summary table to display the Most Popular item analysis
item_analysis_table = pd.DataFrame({"Purchase Count": item_purchase_count,
                                    "Item Price": item_price,
                                    "Total Purchase Value": item_purchase_value
                                   })

# Format the table so that there the gender groups will be in the index
item_analysis_table.index.name = None

# The homework asks for this table to be sorted in a specific way
# Sort the purchase count column in descending order
sorted_item_analysis_table = item_analysis_table.sort_values(["Purchase Count"], ascending = False).head()

# Cleaning up the formatting for the Most Popular summary table
# Add in proper notation
sorted_item_analysis_table = sorted_item_analysis_table.style.format({  "Item Price": "${:,.2f}",
                                                                        "Total Purchase Value": "${:,.2f}"
                                                                     })

sorted_item_analysis_table

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [30]:
# The homework asks for the previous table to be re-sorted in a specific way
# Sort the total purchase count column in descending order
resorted_item_analysis_table = item_analysis_table.sort_values(["Total Purchase Value"], ascending = False).head()
resorted_item_analysis_table

# Add back in the proper notation so that it displays the same as the homework example
resorted_item_analysis_table = resorted_item_analysis_table.style.format({  "Item Price": "${:,.2f}",
                                                                            "Total Purchase Value": "${:,.2f}"
                                                                         })
resorted_item_analysis_table